.mensagem {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mensagem > img {
  max-width: 600px;
  border-radius: 12px;
}

.mensagem > p {
  font-size: 2rem;
  margin-top: 32px;
  text-align: center;
}

.link {
  margin-top: 16px;
  color: #00FF7A;
}