.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  border: none;
  background-color: #061b21;
  color: #00ff7a;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 32px;
  cursor: pointer;
  z-index: 1;
}

.head img {
  transition: 0.3s;
}

.body {
  background-color: #02181d;
  border-radius: 0 0 12px 12px;
  transition: .3s;
  z-index: -1;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transform: translateY(-12px);
  z-index: -1;
  position: relative;
}

.info {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  padding: 40px 32px 32px 32px;
}

:global(.rotate) {
  transform: rotate(180deg);
}

@media (max-width: 620px) {
  .head {
    padding: 16px;
    font-size: 1.2rem;
  }
  .head img {
    width: 20px;
  }
  .info {
    padding: 32px 16px 16px 16px;
  }
}