.item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 12px;
  background-color: #051418;
  margin-bottom: 24px;
  overflow: hidden;
}

.image {
  background-color: #fff;
}

.image img {
  width: 100%;
  height: 136px;
  object-fit: cover;
}

.info {
  display: grid;
  padding: 18px;
}

.nome {
  color: #00ff7a;
  font-size: 1rem;
  font-weight: 500;
  max-width: 22ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.preco {
  font-size: 0.875rem;
}

.quantidade {
  justify-self: end;
  width: max-content;
  display: flex;
  justify-content: end;
  align-items: center;
}

.adicionarBtn img,
.removerBtn img {
  width: 16px;
  height: 16px;
}

.adicionarBtn,
.removerBtn {
  background-color: #03282f;
  padding: 6px;
}

.adicionarBtn {
  border-radius: 0 6px 6px 0;
}

.removerBtn {
  border-radius: 6px 0 0 6px;
}

.numero {
  font-weight: 700;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #051418;
}
