.container {
  position: fixed;
  width: 100%;
  bottom: 24px;
  z-index: 99;
  transition: .3s;
  padding: 0 20px;
}

:global(.show) {
  bottom: 24px;
}

.content {
  display: grid;
  box-shadow: 0px 0px 12px #00000075;
  grid-template-columns: 3fr 1fr;
  background-color: #f4f4f4;
  gap: 12px;
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 12px;
  color: #061b21;
  font-weight: 500;
}

.btnsContainer {
  display: flex;
  gap: 12px;
}

@media (max-width: 720px) {
  .btnsContainer {
    flex-direction: column;
  }
}